.idea
**/build/*
/.gradle
/released_modules/*idea
/released_modules/gradle

/tritonSdk/input/triton_sdk_sample/*idea
/tritonSdk/input/triton_sdk_sample/gradle

/**/output

/**/*.iml

tdsdk/libs/*.aar
tdsdk/libs/*.jar
tdsdk/docs/html

util/src/main/java/com/tritondigital/util/SdkUtil.java

/generated
/tmp
