<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat" >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ads.CustomAdsActivity"
            android:exported="true"
            android:label="@string/custom_ads"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ads.InterstitialAdsActivity"
            android:label="@string/interstitial_ads"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".player.CuePointHistoryActivity"
            android:exported="true"
            android:label="@string/cue_point_history"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".player.StreamPlayerActivity"
            android:exported="true"
            android:label="@string/stream_player"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".player.SbmPlayerActivity"
            android:exported="true"
            android:label="@string/sbm_player"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".player.StationPlayerActivity"
            android:exported="true"
            android:label="@string/station_player"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".player.MultiStationsPlayerActivity"
            android:exported="true"
            android:label="@string/multistations_player"
            android:windowSoftInputMode="stateHidden" />

        <!-- Libraries -->
        <activity
            android:name="com.tritondigital.ads.InterstitialActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
